<p id="notice"><%= notice %></p>

<medium class="float-right"><%= event_date(@event) %></medium>
<h1><%= @event.name %></h1>

<p>
  <%= @event.description %>
</p>

<button type="button" class="btn btn-primary">Sign up</button>